@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);#content_services {
  margin: 20px 0px;
}

#content_services .fab {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  color: #1d73b2;
}

#content_services p {
  text-align: center;
}

#section-services #content-imgizq {
  width: 100%;
  height: 100%;
}

#section-services #content-imgizq img {
  width: 100%;
  height: 100%;
}

#section-services .content-img {
  width: 100%;
  height: 400px;
  background-color: #EDEEF0;
}

#section-services .content_imgtxt {
  width: 40%;
  background-color: #EDEEF0;
  margin-bottom: 10px;
  padding: 20px;
}

#section-services .content_imgtxt img {
  max-height: 120px;
  display: block;
  margin: 0 auto;
}

#section-services .content_textinf {
  width: 60%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #EDEEF0;
}

#section-services .content_textinf h5 {
  font-weight: bold;
}

#section-services .cont-gnral2 {
  width: 100%;
  height: 100%;
  margin: 10px;
  background-color: #EDEEF0;
}

#section-services .cont-gnrl {
  position: relative;
}

#section-services .cont-textInf1 {
  width: 50%;
  padding: 20px;
  background-color: #EDEEF0;
}

#section-services .cont-textInf1 .fab {
  color: #1d73b2;
  font-size: 20px;
  margin: 10px 0px;
}

#section-services .cont-textInf1 h5 {
  font-weight: bold;
}

#section-services .cont-textInf2 {
  width: 50%;
  padding: 20px;
  background-color: #EDEEF0;
}

#section-services .cont-textInf2 .fab {
  color: #1d73b2;
  font-size: 20px;
  margin: 10px 0px;
}

#section-services .cont-textInf2 h5 {
  font-weight: bold;
}

#section-services2 {
  margin: 50px 0px;
}

#section-services2 .content_imgtxt {
  width: 40%;
  background-color: #EDEEF0;
  margin-bottom: 10px;
  padding: 20px;
}

#section-services2 .content_imgtxt img {
  max-height: 120px;
  display: block;
  margin: 0 auto;
}

#section-services2 .content_imgtxt .fab {
  color: #1d73b2;
  font-size: 20px;
  margin: 10px 0px;
}

#section-services2 .content_textinf {
  width: 60%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #EDEEF0;
}

#section-services2 .content_textinf h5 {
  font-weight: bold;
}

#section-services2 .content_textinf .fab {
  color: #1d73b2;
  font-size: 20px;
  margin: 10px 0px;
}

#section-services2 #content-img {
  width: 100%;
  height: 100%;
}

#section-services2 #content-img img {
  width: 100%;
  height: 100%;
}

#content-informes {
  width: 100%;
  background-color: #004481;
}

#content-informes h2 {
  padding: 30px 0px;
  color: #fff;
}

#content-informes .img-info img {
  width: 100%;
  height: 100%;
}

#content-informes .cont-info {
  padding: 0;
}

#content-informes .cont-texto {
  width: 50%;
  color: #fff;
  padding: 30px;
}

#content-informes .cont-texto h5 {
  font-weight: bold;
}

#content-informes .cont-icon {
  width: 50%;
  padding: 30px;
}

#content-informes .cont-icon img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#rutas-informacion {
  margin: 50px 0px;
}

#rutas-informacion .cont-img img {
  display: block;
  margin: 0 auto;
  padding: 40px 0px;
}

#rutas-informacion .cont-img h3 {
  text-align: center;
  font-weight: bold;
}

#rutas-informacion .cont-img p {
  text-align: center;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

footer {
  width: 100%;
  background-color: #072146;
  color: #fff;
  padding: 40px 0px;
}

footer img {
  max-width: 10%;
}

footer .icon-social {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #1d73b2;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
}

footer .icon-social i {
  padding: 10px;
}

