@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);#content_services {
  margin: 20px 0px;
}

#content_services .fab {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  color: #1d73b2;
}

#content_services p {
  text-align: center;
}

#section-services #content-imgizq {
  width: 100%;
  height: 100%;
}

#section-services #content-imgizq img {
  width: 100%;
  height: 100%;
}

#section-services .content-img {
  width: 100%;
  height: 400px;
  background-color: #EDEEF0;
}

#section-services .content_imgtxt {
  width: 40%;
  background-color: #EDEEF0;
  margin-bottom: 10px;
  padding: 20px;
}

#section-services .content_imgtxt img {
  max-height: 120px;
  display: block;
  margin: 0 auto;
}

#section-services .content_textinf {
  width: 60%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #EDEEF0;
}

#section-services .content_textinf h5 {
  font-weight: bold;
}

#section-services .cont-gnral2 {
  width: 100%;
  height: 100%;
  margin: 10px;
  background-color: #EDEEF0;
}

#section-services .cont-gnrl {
  position: relative;
}

#section-services .cont-textInf1 {
  width: 50%;
  padding: 20px;
  background-color: #EDEEF0;
}

#section-services .cont-textInf1 .fab {
  color: #1d73b2;
  font-size: 20px;
  margin: 10px 0px;
}

#section-services .cont-textInf1 h5 {
  font-weight: bold;
}

#section-services .cont-textInf2 {
  width: 50%;
  padding: 20px;
  background-color: #EDEEF0;
}

#section-services .cont-textInf2 .fab {
  color: #1d73b2;
  font-size: 20px;
  margin: 10px 0px;
}

#section-services .cont-textInf2 h5 {
  font-weight: bold;
}

#section-services2 {
  margin: 50px 0px;
}

#section-services2 .content_imgtxt {
  width: 40%;
  background-color: #EDEEF0;
  margin-bottom: 10px;
  padding: 20px;
}

#section-services2 .content_imgtxt img {
  max-height: 120px;
  display: block;
  margin: 0 auto;
}

#section-services2 .content_imgtxt .fab {
  color: #1d73b2;
  font-size: 20px;
  margin: 10px 0px;
}

#section-services2 .content_textinf {
  width: 60%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #EDEEF0;
}

#section-services2 .content_textinf h5 {
  font-weight: bold;
}

#section-services2 .content_textinf .fab {
  color: #1d73b2;
  font-size: 20px;
  margin: 10px 0px;
}

#section-services2 #content-img {
  width: 100%;
  height: 100%;
}

#section-services2 #content-img img {
  width: 100%;
  height: 100%;
}

#content-informes {
  width: 100%;
  background-color: #004481;
}

#content-informes h2 {
  padding: 30px 0px;
  color: #fff;
}

#content-informes .img-info img {
  width: 100%;
  height: 100%;
}

#content-informes .cont-info {
  padding: 0;
}

#content-informes .cont-texto {
  width: 50%;
  color: #fff;
  padding: 30px;
}

#content-informes .cont-texto h5 {
  font-weight: bold;
}

#content-informes .cont-icon {
  width: 50%;
  padding: 30px;
}

#content-informes .cont-icon img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#rutas-informacion {
  margin: 50px 0px;
}

#rutas-informacion .cont-img img {
  display: block;
  margin: 0 auto;
  padding: 40px 0px;
}

#rutas-informacion .cont-img h3 {
  text-align: center;
  font-weight: bold;
}

#rutas-informacion .cont-img p {
  text-align: center;
}

#img-pricipal {
  width: 100%;
  height: 500px;
}

#img-pricipal img {
  width: 100%;
}

.cont-titleResp h1 {
  color: #fff;
  padding: 20px;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.5);
}

.content-img {
  position: relative;
  overflow: hidden;
}

.content-1 {
  width: 1000px;
  height: 1000px;
  position: absolute;
  background: rgba(246, 76, 0, 0.4);
  top: 0;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  margin-left: -750px;
  transition: all 300ms;
  -webkit-transition: all 300ms;
}

.content-2 {
  width: 1000px;
  height: 1000px;
  position: absolute;
  background: rgba(246, 76, 0, 0.4);
  top: 0;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  margin-left: -800px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.content-3 {
  width: 1000px;
  height: 1000px;
  position: absolute;
  background: rgba(246, 76, 0, 0.4);
  top: 0;
  transform: rotate(-30deg);
  -webkit-transform: rotate(30deg);
  margin-left: -800px;
  margin-top: -500px;
  transition: all 900ms;
  -webkit-transition: all 900ms;
  -webkit-box-shadow: 0px 1px 20px -5px black;
          box-shadow: 0px 1px 20px -5px black;
}

.content-4 {
  width: 1000px;
  height: 1000px;
  position: absolute;
  background: rgba(246, 76, 0, 0.4);
  top: 0;
  transform: rotate(-30deg);
  -webkit-transform: rotate(30deg);
  margin-left: -850px;
  margin-top: -500px;
  transition: all 700ms;
  -webkit-transition: all 700ms;
}

.content-img:hover .content-1 {
  width: 100%;
  transition: all 900ms;
  -webkit-transition: all 900ms;
}

.content-img:hover .content-2 {
  width: 100%;
  transition: all 300ms;
  -webkit-transition: all 300ms;
}

.content-img:hover .content-3 {
  width: 100%;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.content-img:hover .content-4 {
  width: 100%;
  transition: all 700ms;
  -webkit-transition: all 700ms;
}

.content-txt {
  position: absolute;
  top: 0;
  width: 800px;
  padding: 10px;
  z-index: 10;
  color: white;
  text-align: justify;
  margin-left: 45px;
  margin-top: 100px;
}

.content-txt h2 {
  font-size: 30px;
  opacity: 0;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  transition: all 300ms;
  -webkit-transition: all 300ms;
  font-weight: bold;
  margin-bottom: 15px;
}

.content-img:hover h2 {
  opacity: 1;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  transform: scale(1);
  -webkit-transform: scale(1);
}

#content-txt li {
  font-weight: 100;
  list-style: none;
}

#serv-contables p {
  text-align: center;
  margin: 20px 0px;
  font-weight: 100;
}

#serv-contables img {
  display: block;
  margin: 0 auto;
}

#serv-iconos img {
  width: 100px;
  display: block;
  margin: 0 auto;
  opacity: .5;
}

#serv-iconos img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#serv-iconos p {
  text-align: center;
  color: #ff6633;
  font-weight: bold;
  margin: 20px 0px;
  opacity: .7;
}

#serv-iconos li {
  font-size: 15px;
  font-weight: 100;
  list-style: none;
}

#content-txt h1 {
  color: #ff6633;
  font-size: 30px;
  font-weight: 300;
  padding: 0px 20px;
}

#content-txt span {
  color: #7f8185;
}

#content-txt .text-left {
  padding: 0px 40px;
}

#content-txt p {
  text-align: justify;
  font-weight: 100;
}

#content-txt .img-right img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

#banner a {
  color: #fff;
  text-decoration: none;
}

#entidades img {
  display: block;
  margin: 0 auto;
}

#entidades h2 {
  color: #ff6633;
  text-align: center;
  margin: 20px 0px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

#entidades p {
  text-align: justify;
  font-weight: 100;
  padding: 0px 20px;
}

#comoFunciona {
  margin: 50px 0px;
}

#comoFunciona img {
  display: block;
  margin: 0 auto;
}

#comoFunciona h2 {
  color: #ff6633;
  text-align: center;
}

#comoFunciona span {
  color: #ff6633;
  font-weight: bold;
  font-size: 20px;
}

#comoFunciona p {
  text-align: center;
  margin: 20px 0px;
  font-weight: 100;
}

#serv-comoFunciona {
  margin: 50px 0px;
}

#serv-comoFunciona img {
  display: block;
  margin: 0 auto;
}

#serv-comoFunciona h2 {
  color: #ff6633;
  text-align: center;
}

#serv-comoFunciona span {
  color: #ff6633;
  font-weight: bold;
  font-size: 20px;
}

#serv-comoFunciona p {
  text-align: center;
  margin: 20px 0px;
  font-weight: 100;
}

#serv-caulRequisito {
  margin: 50px 0px;
}

#serv-caulRequisito img {
  display: block;
  margin: 0 auto;
}

#serv-caulRequisito h2 {
  color: #ff6633;
  text-align: center;
}

#serv-caulRequisito span {
  color: #ff6633;
  font-weight: bold;
  font-size: 20px;
}

#serv-caulRequisito p {
  text-align: center;
  margin: 20px 0px;
  font-weight: 100;
  padding: 0px 40px;
}

#logos-seg {
  margin: 50px 0px;
}

#logos-seg img {
  display: block;
  margin: 0 auto;
}

#logos-seg h1 {
  color: #7f8185;
}

#logos-seg h1 span {
  color: #ff6633;
}

#logos-seg p span {
  color: #ff6633;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#logos-seg p {
  text-align: justify;
  padding: 0px 30px;
}

#text-termino {
  margin: 50px 0px;
}

#text-termino h1 {
  color: #7f8185;
}

#text-termino h1 span {
  color: #ff6633;
}

#text-termino p {
  text-align: justify;
  line-height: 30px;
  padding: 0px 50px;
}

#text-termino p span {
  font-weight: bold;
}

#text-glosario {
  margin: 50px 0px;
}

#text-glosario h1 {
  color: #ff6633;
}

#text-glosario h1 span {
  color: #7f8185;
}

#text-glosario p {
  font-weight: 100;
  padding: 0px 50px;
}

#text-glosario p span {
  color: #ff6633;
  font-weight: bold;
  font-size: 20px;
}

#promo-text {
  background-color: #F2F2F2;
  padding: 80px 0px;
}

#promo-text h1 {
  color: #7f8185;
  font-weight: 300;
}

#promo-text h1 span {
  color: #ff6633;
}

#promo-text p {
  padding: 0px 80px;
  font-weight: 100;
  text-align: justify;
}

#promo-text p span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#promo-text span {
  color: #ff6633;
}

#content-salud h2 {
  font-weight: 300;
  color: #7f8185;
}

#content-salud h2 span {
  color: #ff6633;
}

#content-salud img {
  width: 150px;
  display: block;
  margin: 0 auto;
  opacity: .5;
}

#content-salud img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

#content-salud .popup h2 {
  color: #ff6633;
}

#content-salud ul {
  list-style: none;
}

#content-viajes {
  background-color: #F2F2F2;
  padding: 80px 0px;
}

#content-viajes h2 {
  color: #7f8185;
  font-weight: 300;
}

#content-viajes h2 span {
  color: #ff6633;
}

#content-viajes img {
  width: 150px;
  display: block;
  margin: 0 auto;
  opacity: .5;
}

#content-viajes img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

#content-viajes .popup h2 {
  color: #ff6633;
}

#content-viajes ul {
  list-style: none;
}

#content-educacion {
  margin-bottom: 30px;
}

#content-educacion h2 {
  color: #7f8185;
  font-weight: 300;
}

#content-educacion h2 span {
  color: #ff6633;
}

#content-educacion img {
  width: 150px;
  display: block;
  margin: 0 auto;
  opacity: .5;
}

#content-educacion img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

#content-educacion .popup h2 {
  color: #ff6633;
}

#content-educacion ul {
  list-style: none;
}

@media (max-width: 992px) {
  #content-txt .text-left {
    padding: 0px;
  }

  #content-txt .img-right img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  #content-txt .text-left {
    padding: 0px 30px;
  }

  #content-txt .img-right img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #banner .cont-conectate span {
    font-size: 15px;
  }

  #banner .cont-conectate p {
    font-size: 12px;
  }

  .content-txt {
    width: 100px;
    margin-left: 35px;
    margin-top: 170px;
  }

  .popup {
    margin: 200px auto !important;
  }

  .popup h2 {
    font-size: 20px;
    padding: 10px;
  }

  .popup ul {
    -webkit-padding-start: 0px;
  }

  #text-termino p {
    padding: 0px 30px;
  }

  #text-termino h1 {
    font-size: 30px;
  }

  #text-iso h1 {
    font-size: 30px;
  }

  #text-iso h2 span {
    font-size: 30px;
  }

  #logos-seg h1 {
    font-size: 30px;
  }

  #text-glosario h1 span {
    font-size: 30px;
  }

  #text-glosario h1 {
    font-size: 30px;
  }

  #promo-text h1 {
    font-size: 30px;
  }

  #promo-text p {
    padding: 0px 20px;
  }

  #content-txt .text-left {
    padding: 0px 30px;
  }

  #content-txt .img-right img {
    width: 90%;
  }

  #img-pricipal .content-txt {
    display: none;
  }

  .content-1 {
    display: none;
  }

  .content-2 {
    display: none;
  }

  .content-3 {
    display: none;
  }

  .content-4 {
    display: none;
  }

  #content-txt h1 {
    text-align: center;
  }
}

.modal-content {
  border: 1px solid rgba(255, 102, 51, 0.8);
}

.modal-header {
  background: rgba(255, 102, 51, 0.8);
}

.modal-header h5 {
  color: #fff;
}

.modal-header span {
  color: #fff;
}

.modal-body ul {
  padding: 20px;
}

.modal-body li {
  list-style: none;
  font-weight: 100;
  text-align: justify;
  line-height: 30px;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

footer {
  width: 100%;
  background-color: #072146;
  color: #fff;
  padding: 40px 0px;
}

footer img {
  max-width: 10%;
}

footer .icon-social {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #1d73b2;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
}

footer .icon-social i {
  padding: 10px;
}

