
#content-items{
    background-color: blue;
    .post.preview {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 30px;
    }
    .post-thumbnail {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-basis: 60%;
        flex-basis: 60%;
        margin-top: 0;
        position: relative;
        overflow: hidden;
    }
}