
//contenedor de imagen principal
#content-img{
    img{
        width: 100%;
    }
}

#tittle-cotiza{
    h1{
        font-size: 30px;
        font-weight: 300;
        color: $colorGrisTitlel;
    }
    span{
        font-weight: bold;
        color: $azulMarino;
    }
}

//contenedor de texto principal
#content-textAyuda{
    .cont-ayuda{
        padding: 0px 30px;
    h3{
        margin: 20px 0px;
    }
    p{
        padding: 20px 150px;
    }
    }
    p{
        text-align: justify;
    }
  h3{
        color: $azulMarino;
        text-align: center;
    }
}

#form-cotiza{
    margin-bottom: 50px;

    h1{
        color: $azulMarino;
        font-size: 30px;
        text-align: center;
        margin: 30px 0px;

    }

    .form-control:focus{
        border: 1px solid $azulMarino;
        box-shadow: 0 0 0 0.2px $azulMarino;
    }

    .form-control{
       width: 300px;
       margin: 0 auto;
        }

    .content-date{
        background-color:#dedede;
        padding: 30px;
    }
    .content-date{
        input{
            font-size: 12px;
           
        }

        select{
            font-size: 12px;
           
        }
    }

    .content-dateEmpresa{
        background-color:#dedede;
        padding: 30px;

        input{
            font-size: 12px;
            
        }

        select{
            font-size: 12px;
           
        }
        textarea{
            font-size: 12px;
        }

        h3{
            font-size: 20px;
            color: $azulMarino;
            text-align: center;
        }
        p{
            font-size: 15px;
            font-weight: 100;
            text-align: justify;
            padding: 0px 100px;
        }

        .btn-cotizador{
            background-color: $azulMarino;
            color: #fff;
            display: block;
            margin: 0 auto;
        }
        button:focus{
        
            box-shadow: 0 0 0 0.2px #fff;
        }
        
    }
}

//slider servicios
.content-gnrl{
    width: 100%;
    height: 300px;
    background-color: blue;
}
.content-slid{
    width: 50%;
    background-color: red;
    text-align: center;
}

.search-slider #search-example{
    color: #fff;
    font-size: 60px;
    margin-top: -21px;
}

.search-slider {
    font-family: "Roboto Slab", serif;
    margin-top: 220px;
}
.search-slider {
    font-family: "Roboto Slab", serif;
    margin-top: 220px;
}

@media screen and (max-width:1200px) {
    
}

@media screen and (max-width:992px) {
    #form-cotiza .content-dateEmpresa p {
        padding: 0px 0px;
    }
}

@media screen and (max-width:768px) {

    #form-cotiza h1 {
        font-size: 20px;
    }
    #content-textAyuda .cont-ayuda p {
        padding: 20px 70px;
    }

    #form-cotiza .content-dateEmpresa p {
        padding: 0px 0px;
    }
    #form-cotiza .form-control {
        width: 200px;
    }
}

@media screen and (max-width:576px) {

    #tittle-cotiza h1 {
        font-size: 25px;
    }

    #content-textAyuda .cont-ayuda h3 {
        font-size: 20px;
    }
    #content-textAyuda .cont-ayuda p {
        padding: 0px;
    }

    #form-cotiza .content-dateEmpresa p {
        padding: 0px;
    }

    #form-cotiza .form-control {
        width: 250px;
    }
    #form-cotiza h1 {
        font-size: 20px;
    }
}