


// seccion de servicios
#content_services{
    margin: 20px 0px;
    .fab{
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 25px;
        color: #1d73b2;
    }
    p{
        text-align: center;
    }
}