
#navbarTogglerDemo02{
    .content_img{
        color: #000;
        margin: 20px 0px;
        padding: 20px;
        img{
            width: 70px;
        }
        h5{
            padding: 10px 0px;
            color: #000;
        }
    }
    .content_serv{
        background-color: #DCDCDC!important;
    }
}


// contenido submenu


