
#navbarTogglerDemo02{
    .content_img{
        img{
            width: 100px;
        }
        h5{
            color: #fff;
        }
        p{
            color: #fff;
        } 
    }
    .content_serv{
        background-color: #1d73b2!important;
    }
    .content_item{
        background-color: #004481;
    }

}
