
#navbarTogglerDemo02{
    .content_img{
        margin: 20px 0px;
        padding: 20px;
        img{
            width: 70px;
        }
        
        p{
            margin-top: 0px; 
            margin: 0px;
        }
        .title-txt{
                color: $colorNaranja;
                font-weight: bold;
        }
    }
    .content_serv{
        background-color: #DCDCDC!important;
    }

    .sub-menu1{
        padding: 10px 20px;
    }
    .sub-menu2{
        padding: 10px 20px;
    }
}


// contenido submenu


