#content-notices{
    .contitle-services {
        h2{
            padding: 30px 0px;
            margin: 0px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 600;
        }
    }
    .card-body{
        h5{
            text-align: justify;
            font-weight: bold;
        }
        p{
            text-align: justify;
        }
    }
}
