//----------------------########### ---terminos --- ##########---------------------------------

#text-termino{
    margin: 50px 0px;
    h1{
        color: $azulMarino;
        font-size: 30px;
        font-weight: 100;
    }
    p{
        text-align: justify;
        line-height: 30px;
        padding: 0px 50px;
        span{
            font-weight: bold;
        }
    } 
}
//---------------------########### --- fin de terminos --- ##########-------------------------->