h1{
    font-size: 50px;
    font-weight: bold;
}
#Form-contact{
    margin: 100px 0px;
    
    h5{
        font-size: 30px;
        span{
            color: $azulMarino;
        }
    }
    ul{
        list-style: none;
        padding: 0px;
        i{
            font-size: 20px;
            color: $azulMarino;
            padding: 0px 10px;
        }
    }
    .form-postulation{
        h1{
            font-size: 30px;
        }
            .form-control {
                border: 1px solid #1d73b2;
            }
        .btn-primary{
            background-color: #1d73b2;
        }   
    }
   
    .content-title{
        h2{
            font-size: 30px;
            text-transform: uppercase;
        }
    }
}


//media queries

@media(max-width:768px){
    #Form-contact{
        .content-vacantesVierw{
            padding-bottom: 30px;
            background-color: red;
        }
    }
}


@media(max-width:576px){
   
}

