#ubicacion{
    margin: 100px 0px;
    h1{
        color:$colorNaranja;
        text-transform: capitalize;
        margin: 20px;
    }
    h5{
        font-size: 30px;
        span{
            color: $colorNaranja;
        }
    }
    ul{
        list-style: none;
        padding: 0px;
        li{
            margin: 20px;
            font-size: 20px;
        }
        i{
            font-size: 20px;
            color: $colorNaranja;
            padding: 0px 10px;
        }
    }
   
}