
// Body
$body-bg: #f4f4f4;

// seccion principal   
$content-txt: #EDEEF0;
$azulMarino:#1d73b2; 
$azulRey:#1d73b2;
$black:#000;
$white:#fff;
$colorFooter:#16395f;
$colorGrisTitlel:#7f8185;
$bg-grey: #EDEEF0;
$colorSect: #F2F2F2;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-muil: "Muli";
$font-Poppins: "Poppins";