
// Body
$body-bg: #f4f4f4;

// seccion principal   
$content-txt: #EDEEF0;
$colorNaranja:#1d73b2;
$colorFooter:#636363;
$colorGrisTitlel:#7f8185;
$colorSect:#F2F2F2;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
