
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
//importando hojas de estilo
@import"home";
@import"servicios";
@import"menu";
@import"animate";
@import"ubicacion";
@import"contacto";
@import"cotizador";
@import"nosotros";
@import"politica";
@import"footer";
@import"m-service";
@import"m-personal";
@import"filosofia";
@import"valores";
// estilo de slider revolution
@import"style";
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.parallax{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

}
.overlay{
  background: rgba(34, 34, 34, 0.48);
  position: absolute;
  width: 100%;
  height: 100%;
}

