
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
//importando hojas de estilo
@import"home";
@import"servicios";
@import"menu";
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


// estilo del footer
footer{  
  img{
   max-width: 10%;;
  }  
  width: 100%;
  background-color:#072146;
  color:#fff;
  padding: 40px 0px;
  .icon-social{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #1d73b2;
    margin: 10px;
    border-radius: 50%;
    display: inline-block;
    i{
      padding: 10px;
    }
  }
}
#navbarTogglerDemo02{
  .content_imgs{
      img{
          width: 30px;
      }
  }
    
}